.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.search{
  width:60vw;
  font-size: 1.3em;
  height:2em;
  background:#333;
  color:white;
  text-align: center;
  margin-bottom:1em;
}
.search::placeholder{
  color:#f57f17;
}

.summary{
  padding:0 1em 0 1em;
  text-align: center;
  font-size:1em;
  font-weight: 500;
}

.results{
  background:#333;
  color:#f57f17;
  border-radius:1em;
  padding:8px;
  font-size:1.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
