.App {
  text-align: center;
}

.loader{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background:#333;
}

.loader h2{
	animation: animate 15s linear infinite;
	background-image: url('https://i.postimg.cc/3JfYgrnj/water-2.png');
	background-repeat: repeat-x;
	color: rgba(255,255,255,.1);
	font-size: 3em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	-webkit-background-clip: text;
}

@keyframes animate{
	0%{
		background-position: left 0px top 150px;
	}

	40%{
		background-position: left 600px top -30px;
	}

	80%{
		background-position: left 1400px top -30px;
	}

	100%{
		background-position: left 2000px top 150px;
	}
}

.eye{
  position:fixed;
  width:3em;
  top:18px;
  left:5px;
  z-index: 5;
}

.search{
  width:60vw;
  font-size: 1.3em;
  height:2em;
  background:#333;
  color:white;
  text-align: center;
  margin-top:1em;
  margin-bottom:1em;
}
.search::placeholder{
  color:#f57f17;
}

.summary{
  padding:0 1em 0 1em;
  text-align: center;
  font-size:1em;
  font-weight: 500;
}

.results{
  background:#333;
  color:#f57f17;
  border-radius:1em;
  padding:8px;
  font-size:1.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
